.clear-completed {
  max-width: 700px;
  margin: 0 auto;
  display: block;
  text-align: end;
  cursor: pointer;
  padding: 2px;
  user-select: none;
}
.clear-completed-text {
  display: inline;
  &:hover {
    color: red;
  }
}
